@inherits LayoutComponentBase

<div class="page">
    <div class="navbar navbar-light bg-light d-flex flex-row justify-content-center">

        <NavLoginPage />
    </div>

    <main>
       
        <article class="content px-4">
            @Body
        </article>

        <Footer />
    </main>
</div>
