<div class="d-flex">
    <div class="mx-3">
        <NavLink href="/Account/Login" class="btn btn-primary">Login</NavLink>
    </div>
    <div class="mx-3">
        <NavLink href="/Account/Register" class="btn btn-primary">Registre-se</NavLink>
    </div>
</div>


@code {

}
