@page "/ideia2"

<h3>Inicial</h3>
<p>Pensei em outra idéia para desenvolver em blazor:</p>
<p>Posso fazer uma app, (WASM), que todo mês vai calcular o líquido do líquido de salário. Ou seja</p>
<p>Eu informo, o salário líquido.</p>
<p>E algumas contas constantes, como e.g: "Academia", "Mercado", "Água e Luz"</p>
<p>E no caso do cartão de crédito> posso informar o valor que deu a fatura no mês... e para os próximos meses, posso consultar os meses anteriores, e definir a média, como valor inicial.. é até bom, para que eu consiga ver se gastei mais que a média do mês anterior, etc.</p>
<p>E ai posso mostrar algumas estimativas após realizar esses calculos, como:</p>
<p>Bruto até o fim do ano:</p>
<p>Bruto em 6 meses</p>

<p>e por ai vai....</p>
@code {

}
