<div style="padding:10px; background-color:@styleContext.BackgroundColor;border:solid 1px black;">
    <p>Componente Nivel 3</p>
    <Nivel4 />
</div>

@code {
    [CascadingParameter]
    public StyleContext styleContext{ get; set; }
}
