<div style="padding:10px; background-color:@styleContext.BackgroundColor;border:solid 1px black;">
    <p>Componente Nivel 4</p>
    
</div>

@code {
    [CascadingParameter]
    public StyleContext styleContext { get; set; }
}
