@page "/navegacao"
@rendermode InteractiveServer

<NavLink Match="NavLinkMatch.All" ActiveClass="text-danger" href="navegacao">NavLink</NavLink>

<NavLink ActiveClass="text-danger" href="sample">NavLink</NavLink>

<a href="sample">HTML</a>